@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Force Mapbox cursor */
.mapboxgl-canvas {
  cursor: grab !important;
}

.mapboxgl-canvas:active {
  cursor: grabbing !important;
}

/* Mapbox drag state class */
.mapboxgl-map.mapboxgl-interactive:active .mapboxgl-canvas {
  cursor: grabbing !important;
}
